<!DOCTYPE html>
<html lang="ru" class="page">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>Admin</title>
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/static/css/vendor.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
    <script defer="defer" src="/static/js/main.js"></script>
  </head>
  <body class="page__body page__body--auto">
    <div class="site-container">
      <main class="main">
        <section class="authorization">
          <div class="container authorization__container">
            <h1 class="authorization__title">Log in</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
            <form
              action="#"
              class="authorization__form form"
              id="authorization"
              method='POST'
            >
              <label class="form__label"
                >Логин:
                <input
                  type="text"
                  name="login"
                  class="input-reset input form__input"
                  placeholder="Введите логин"
                  required
              /></label>
              <label class="form__label password"
                >Пароль:
                <input
                  type="password"
                  name="password"
                  class="input-reset input form__input"
                  id="password-input"
                  placeholder="Введите пароль"
                  required
              /></label>
              <div class="authorization__bottom">
                <button
                  type="submit"
                  form="authorization"
                  class="btn-reset btn form__btn"
                >
                  Войти
                </button>
              </div>
            </form>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
