<!DOCTYPE html>
<html lang="ru" class="page">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>Keys</title>
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/static/css/vendor.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script defer="defer" src="/static/js/main.js"></script>
  </head>
  <body class="page__body" data-body>
    <div class="sidebar" data-sidebar>
      <a href="" class="sidebar__logo">admin</a
      ><!-- buttons -->
      <ul class="list-reset sidebar__list">
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
      </ul>
      <!-- search -->
      <form action="#" class="search sidebar__search">
        <input
          type="search"
          name="Search"
          class="input-reset search__input"
          placeholder="Поиск"
        />
        <button type="submit" class="btn-reset btn search__btn">
          <span class="fa fa-search"></span>
        </button>
      </form>
      <!-- nav -->
      <nav class="nav sidebar__nav" title="Меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="/objects" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Объекты</a
            >
          </li>
          <li class="nav__item">
            <a href="/users" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Пользователи</a
            >
          </li>
          <li class="nav__item">
            <a href="/keys" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Ключи</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-container">
      <header class="header">
        <div class="container">
          <div class="header__content">
            <div class="header__top">
              <button class="btn-reset header__btn" data-btn>
                <span class="fa fa-solid fa-angle-left"></span>
              </button>
              <a href="/logout" class="btn-reset btn">Выйти</a>
            </div>
            <!-- <nav class="nav header__nav" title="Меню">
              <ul class="list-reset nav__list header__list">
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 1</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 2</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 3</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 4</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 5</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 6</span></a
                  >
                </li>
                <li class="nav__item header__item">
                  <a href="#" class="btn"
                    ><span class="fa fa-solid fa-folder"></span>
                    <span class="btn__text">Пункт 7</span></a
                  >
                </li>
              </ul>
            </nav> -->
          </div>
        </div>
      </header>
      <main class="main">
        <section class="items-page">
          <div class="container-fluid">
            <ul class="list-reset items-page__list">
              <!-- item -->
              <li class="items-page__item">
                <table class="items-page__table table">
                  <thead class="table__head">
                    <tr class="table__tr">
                      <th class="table__th"></th>
                      <th class="table__th">Ключ</th>
                      <th class="table__th">Пользователь</th>
                      <th class="table__th">Дата создания</th>
                    </tr>
                  </thead>
                  <!-- body -->
                  {% for key in keys%}
                  <tbody class="table__body">
                    <tr class="table__tr table__tr--gray">
                      
                      <td class="table__td">
                        <button class="btn-reset table__btn btn" onclick="window.location.replace('/del/keys/{{key.id}}')">
                          <span class="fa fa-solid fa-folder"></span>Удалить</button>
                      </td>
                      <td class="table__td">{{key.key}}</td>
                      <td class="table__td">{{key.user}}</td>
                      <td class="table__td">{{key.datetime}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
                <div class="items-page__bottom">
                  <button class="btn-reset items-page__btn btn" data-graph-path="settings" id='addBtn'>
                    <span class="fa fa-solid fa-folder" ></span> Добавить
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </main>
      <footer class="footer"><div class="container"></div></footer>
    </div>
    <div class="graph-modal">
      <div
        class="graph-modal__container"
        role="dialog"
        aria-modal="true"
        data-graph-target="settings"
      >
        <div class="graph-modal__content">
          <form action="{{'/keys'}}" method="post" class="form graph-modal__form" id="settings">
            <!-- input -->
            <label class="form__label"
              >1
              <input
                type="text"
                name="key"
                class="input-reset input input--max form__input"
                id='keyValue'
                placeholder="key" /></label
            >
            <div class="form__bottom">
              <!-- btn -->
              <button
                type="submit"
                form="settings"
                class="btn-reset btn form__btn"
              >
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

<script>
  // KEY GENERATION
  function keyGen() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  
    for (var i = 0; i < 10; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
  
    return text;
  }

  document.getElementById('addBtn').addEventListener('click', function() {
    document.getElementById('keyValue').value = keyGen()
  });

</script>

</html>
