<!DOCTYPE html>
<html lang="ru" class="page">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>Objects</title>
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/static/fonts/Rogoto-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/static/css/vendor.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script defer="defer" src="/static/js/main.js"></script>
  </head>
  <body class="page__body" data-body>
    <div class="sidebar" data-sidebar>
      <a href="" class="sidebar__logo">admin</a
      ><!-- buttons -->
      <ul class="list-reset sidebar__list">
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
        <li class="sidebar__item">
          <button class="btn-reset btn sidebar__btn">
            <span class="fa fa-solid fa-folder"></span>
          </button>
        </li>
      </ul>
      <!-- search -->
      <form action="/objects/search" method='POST' class="search sidebar__search">
        <input
          type="search"
          name="search"
          class="input-reset search__input"
          placeholder="Поиск"
        />
        <button type="submit" class="btn-reset btn search__btn">
          <span class="fa fa-search"></span>
        </button>
      </form>
      <!-- nav -->
      <nav class="nav sidebar__nav" title="Меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="/objects" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Объекты</a
            >
          </li>
          <li class="nav__item">
            <a href="/users" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Пользователи</a
            >
          </li>
          <li class="nav__item">
            <a href="/keys" class="nav__link btn"
              ><span class="fa fa-solid fa-folder"></span>Ключи</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-container">
      <header class="header">
        <div class="container">
          <div class="header__content">
            <div class="header__top">
              <button class="btn-reset header__btn" data-btn>
                <span class="fa fa-solid fa-angle-left"></span>
              </button>
              <a href="/logout" class="btn-reset btn">Выйти</a>
            </div>
            
          </div>
        </div>
      </header>
      <main class="main">
        <section class="items-page">
          <div class="container-fluid">
            <ul class="list-reset items-page__list">
              <!-- item -->
              <li class="items-page__item">
                <table class="items-page__table table">
                  <thead class="table__head">
                    <tr class="table__tr">
                      <th class="table__th"></th>
                      <th class="table__th">Пользователь</th>
                      <th class="table__th">Регион</th>
                      <th class="table__th">Город</th>
                      <th class="table__th">Район</th>
                      <th class="table__th">Адрес</th>
                      <th class="table__th">Комнаты</th>
                      <th class="table__th">Этаж</th>
                      <th class="table__th">Описание</th>
                      <th class="table__th">Цена</th>
                      <th class="table__th">Площадь</th>
                      <th class="table__th">Тип имущ.</th>
                      <th class="table__th">Этажность</th>
                      <th class="table__th">Тел.</th>
                      <th class="table__th">Дата окончания</th>
                      <th class="table__th">Дата создания</th>
                    </tr>
                  </thead>
                  <!-- body -->
                  {% for object in objects%}
                  <tbody class="table__body">
                    <tr class="table__tr table__tr--gray">
                      
                      <td class="table__td">
                        <button class="btn-reset table__btn btn" onclick="window.location.replace('/del/objects/{{object.id}}')">
                          <span class="fa fa-solid fa-folder"></span>Удалить</button>
                      </td>
                      <td class="table__td">{{object.user}}</td>
                      <td class="table__td">{{object.region}}</td>
                      <td class="table__td">{{object.city}}</td>
                      <td class="table__td">{{object.area}}</td>
                      <td class="table__td">{{object.address}}</td>
                      <td class="table__td">{{object.rooms}}</td>
                      <td class="table__td">{{object.stage}}</td>
                      <td class="table__td">{{object.description}}</td>
                      <td class="table__td">{{object.price}}</td>
                      <td class="table__td">{{object.quadrature}}</td>
                      <td class="table__td">{{object.property_type}}</td>
                      <td class="table__td">{{object.number_of_storeys}}</td>
                      <td class="table__td">{{object.phone}}</td>
                      <td class="table__td">{{object.date_end}}</td>
                      <td class="table__td">{{object.datetime}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
                <!-- <div class="items-page__bottom">
                  <button class="btn-reset items-page__btn btn">
                    <span class="fa fa-solid fa-folder"></span> Добавить
                  </button>
                </div>-->
                
              </li>
            </ul>
          </div>
        </section>
      </main>
      <footer class="footer"><div class="container"></div></footer>
    </div>
    <div class="graph-modal">
      <div
        class="graph-modal__container"
        role="dialog"
        aria-modal="true"
        data-graph-target="settings"
      >
        <div class="graph-modal__content">
          <form action="#" class="form graph-modal__form" id="settings">
            <!-- input -->
            <label class="form__label"
              >1
              <input
                type="text"
                name="setting-1"
                class="input-reset input input--max form__input"
                placeholder="Настройка" /></label
            ><!-- input -->
            <label class="form__label"
              >2
              <input
                type="text"
                name="setting-1"
                class="input-reset input input--max form__input"
                placeholder="Настройка" /></label
            ><!-- textarea -->
            <label class="form__label"
              >3
              <textarea
                name="setting-3"
                class="input-reset textarea input input--max form__input"
                placeholder="Настройка"
              ></textarea></label
            ><!-- checkbox -->
            <label class="form__label form__label--modal custom-checkbox"
              ><input type="checkbox" class="custom-checkbox__field" />
              <span class="custom-checkbox__content">Label</span></label
            ><!-- checkbox -->
            <label class="form__label form__label--modal custom-checkbox"
              ><input type="checkbox" class="custom-checkbox__field" />
              <span class="custom-checkbox__content">Label</span></label
            >
            <div class="form__bottom">
              <!-- btn -->
              <button
                type="submit"
                form="settings"
                class="btn-reset btn form__btn"
              >
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
